h1 {
    font-size: 5em;
    margin-bottom: 5em;
}

h2 {
    font-size: 3em;
    width: 100%;
}

#electrician {
    position: absolute;
    float: right;
    vertical-align: top;
    height: 100%;    
    right: 0;
}

h2 {
    font-size: 3em;
}

#phone {
    max-height: 3em;
}

#envelope {
    max-height: 3em;
}

body {
  font-family: Arial, Helvetica, sans-serif;    
  background: linear-gradient(to right, #1a0f00 0%, #4a3200 40%, #c49017 100%);
  color: #f2a93b; /* Golden-orange text */
}
