#main {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    font-size: 5em;
    margin-bottom: 5em;
}

h2 {
    font-size: 3em;
    width: 100%;
}

#electrician {
    position: absolute;
    float: right;
    vertical-align: top;
    height: 100%;    
    right: 0;
    z-index: -1;
}

h2 {
    font-size: 3em;
}

h2 img{
    max-height: 3em;
    vertical-align: middle
}

#phone {
}

#envelope {
}

a {
    text-decoration: none;
}

a:visited, a:hover, a:link, a:active {
    color: #f2a93b;
}

body {
  font-family: Arial, Helvetica, sans-serif;    
  background: linear-gradient(to right, #1a0f00 0%, #4a3200 40%, #c49017 100%);
  color: #f2a93b; /* Golden-orange text */
}
